$second-color: #7e7e82;
%menu-button-position {
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}
button {
  padding: 0;
  font-family: "TT Lakes", sans-serif;
  cursor: pointer;
  border: none;
}
@font-face {
  font-family: "TT Lakes";
  src: local("Lexend Peta Regular"), local("LexendPeta-Regular"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url(../fonts/TTLakes-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "TT Lakes bold";
  src: local("Lexend Peta Regular"), local("LexendPeta-Regular"),
    url("../fonts/TTLakes-ExtraBold.woff") format("woff"),
    url(../fonts/TTLakes-ExtraBold.ttf) format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "TT Lakes medium";
  src: local("Lexend Peta Regular"), local("LexendPeta-Regular"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url(../fonts/TTLakes-Medium.ttf) format("ttf");
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", sans-serif;
}

h1,
h2,
h3 {
  font-family: "TT Lakes bold", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: -0.6px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.menu {
  background-color: #ffffff;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.contain__adaptive {
  display: flex;
  gap: 16px;
  align-items: center;
}

.menu {
  &-button {
    position: relative;
    transition: transform ease 0.3s;
    background-color: inherit;
    background-color: #ff3e79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__logo {
    margin-right: 62px;
  }

  &-button--icon-exit {
    background-image: url(../ic/icon-exit.svg);
    @extend %menu-button-position;
  }

  &-button__icon-search {
    background-image: url(../ic/icon-search.svg);
    @extend %menu-button-position;
  }

  &-button__icon-search2 {
    background-image: url(../ic/icon-search2.svg);
    @extend %menu-button-position;
  }

  &-button__icon-phone {
    background-image: url(../ic/icon-phone.svg);
    @extend %menu-button-position;
  }

  &-button__icon-chat {
    background-image: url(../ic/icon-chat.svg);
    @extend %menu-button-position;
  }

  &-button__icon-contact {
    background-image: url(../ic/icon-contact.svg);
    @extend %menu-button-position;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 360px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: -10px 0 40px 0 #454f7e;
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 24px 32px 24px;

  &__navigation {
    margin: 0;
  }
  &__contact {
    margin-bottom: 16px;
  }

  &__header {
    margin-bottom: 45px;
  }
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-inline: -24px;

  &__item {
    height: 48px;
  }

  &__link {
    padding-inline: 24px;
    text-decoration: none;
    color: #1b1c21;
    font-weight: 600;
    position: relative;
    align-items: center;
    transition: opacity ease 0.34s;
    height: 100%;
  }
  &__link:hover {
    opacity: 0.7;
  }
  &__link:hover::before {
    content: "";
    display: block;
    background-color: #41f6d7;
    border-radius: 4px;
    position: absolute;
    width: 4px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;
  }
}

.contact {
  &-buttons {
    display: flex;
    gap: 16px;
  }
  &__phone {
    font-size: 24px;
    font-weight: 700;
    font-family: "TT Lakes bold";
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__mail,
  &__phone {
    display: block;
    color: #1b1c21;
    text-decoration: none;
    font-style: normal;
  }
}

.switch-language {
  &__label {
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }

  &__button {
    appearance: none;
    position: absolute;
  }

  &__button:checked + &__label {
    color: $second-color;
  }
}
.aside__switch-language {
  font-weight: 600;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 7px;
}
